# import des dependances
import (timetools, methods)
importMethodsFrom(DBI, dbListFields, dbDisconnect, dbConnect, dbGetQuery)
exportMethods (dbListFields, dbDisconnect)

# liens avec une base XR
export (xrGetQuery, xrConnect,
	xrGetCampagnes, xrGetReseaux, xrGetStations, xrGetMesures, xrGetPolluants,
	xrGetSitesPrelevement, xrGetMethodesPrelevement,
	xrGetContinuousData, xrGetManualData,
	Xair2R, indicesXR2R, plot.indice)

# outils divers
export (slide, qh, h, estimation_sondage)

# fonctions specifiques a certaines 'normes' ademe
export (round.a, quantile.a)

# calculs réglementaires / seuil
export (seuils, typologies,
	format.seuil, print.seuil,
	aot, #aot40maiJuillet, aot40maiJuillet5ans,
	#alerte400NO2, depsur8h, protecVegeFroidSO2, #representatif, 
	#margevlC6H6y, margevlNO2h, margevlNO2y, margevlPM25, sur3ans, 
	comparaison, preparation.base, validation.reglementaire,
	check.na.consecutifs)
S3method ('format', 'seuil')
S3method ('print', 'seuil')

# fonction en rapport avec des 'roses'
export (compute.rose, plot.rose, rosepol, compute.rosevent, plot.rosevent, rosevent)


