# import des dependances
import (timetools)

# liens avec une base XR
export (xrGetQuery, xrConnect,
	xrGetCampagnes, xrGetReseaux, xrGetStations, xrGetMesures, xrGetPolluants,
	xrGetContinuousData)

# outils divers
export (slide, representatif)

# fonctions specifiques a certaines 'normes' ademe
export (round.a, quantile.a)

# fonction en rapport avec des 'roses'
export (compute.rose, plot.rose, rosepol, compute.rosevent, plot.rosevent)

# extension pour les classes Time*DataFrame
exportMethods (aot40)
