import(maptools)

export (xrGetQuery, xrConnect,
	xrGetCampagnes, xrGetReseaux, xrGetStations, xrGetMesures, xrGetPolluants,
	xrGetData)

# pour les Time*DataFrame
export (print.TimeIntervalDataFrame)
S3method (print, TimeIntervalDataFrame)

